<a href="https://colab.research.google.com/github/brazlb00/ProjetoGit/blob/main/Introdu%C3%A7%C3%A3o_ao_Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Instalação do Spark

In [1]:
!pip install -q findspark

In [2]:
!pip install -q pyspark

     |████████████████████████████████| 281.3 MB 45 kB/s
     |████████████████████████████████| 199 kB 54.9 MB/s
  Building wheel for pyspark (setup.py) ... done


Iniciar Spark

In [3]:
import findspark
findspark.init()


Instanciar o SparkContext

In [4]:
from pyspark import SparkContext
spark_contexto = SparkContext() # Instantiate SparkContext

Verificar o SparkContext

In [5]:
print(spark_contexto)

<SparkContext master=local[*] appName=pyspark-shell>

Versão do Spark

In [6]:
print(spark_contexto.version)

3.3.0

Criar uma instância do Spark, e importação de tipos

In [27]:
import pyspark.sql.types as t
from pyspark.sql import SparkSession
spark  = SparkSession.builder.master("local[*]").getOrCreate()

Imprimir Instância do Spark

In [8]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f7391c23f90>

Definição dos caminhos usados

In [33]:
input_path_csv = ('/content/drive/MyDrive/cruise_dataset.csv')
output_base = '/content/drive/MyDrive/trusted/'

Definição do Esquema

In [28]:
schema_csv = t.StructType([
    t.StructField("Ship_name", t.StringType()),
    t.StructField("Cruise_line", t.StringType()),
    t.StructField("Age", t.IntegerType()),
    t.StructField("Tonnage", t.FloatType()),
    t.StructField("Passengers", t.FloatType()),
    t.StructField("Length", t.FloatType()),
    t.StructField("Cabins", t.FloatType()),
    t.StructField("Passenger_density", t.FloatType()),
    t.StructField("Crew", t.FloatType())
    ])

Criação do Dataset

In [34]:
dataset = spark.read\
  .schema(schema_csv)\
  .option('multiLine', 'true')\ #Lê o CSV memso comvalores espalhados por várias linhas
  .option('escape', '\"')\  #Utilizando aspas duplas como caractere de escape
  .option('delimiter', ',')\
  .option('header', 'true')\
  .csv(input_path_csv)

Imprimir o Esquema

In [36]:
dataset.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: float (nullable = true)
 |-- Passengers: float (nullable = true)
 |-- Length: float (nullable = true)
 |-- Cabins: float (nullable = true)
 |-- Passenger_density: float (nullable = true)
 |-- Crew: float (nullable = true)

Visualizar um subconjunto dos Dados

In [35]:
dataset.show(3)

+-----------+-----------+---+-------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|Tonnage|Passengers|Length|Cabins|Passenger_density|Crew|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26| 47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
+-----------+-----------+---+-------+----------+------+------+-----------------+----+
only showing top 3 rows

In [37]:
dataset.head()

Row(Ship_name='Journey', Cruise_line='Azamara', Age=6, Tonnage=30.277000427246094, Passengers=6.940000057220459, Length=5.940000057220459, Cabins=3.549999952316284, Passenger_density=42.63999938964844, Crew=3.549999952316284)

Total de Registros

In [38]:
dataset.count()

158

Criar Tabela SQL Temporária

In [39]:
dataset.createOrReplaceTempView("tabela_temporaria")

Imprimir as Tabelas do Catálogo

In [40]:
print(spark.catalog.listTables())

[Table(name='tabela_temporaria', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

Criar consultas SQL

In [41]:
query = "FROM tabela_temporaria SELECT Ship_name, Age LIMIT 10"

Executar a Query

In [42]:
saida = spark.sql(query)

Exibir o resultado da Query

In [43]:
saida.show()

+-----------+---+
|  Ship_name|Age|
+-----------+---+
|    Journey|  6|
|      Quest|  6|
|Celebration| 26|
|   Conquest| 11|
|    Destiny| 17|
|    Ecstasy| 22|
|    Elation| 15|
|    Fantasy| 23|
|Fascination| 19|
|    Freedom|  6|
+-----------+---+

Parar o Spark

In [44]:
spark.stop()